*,*:before,*:after {
  box-sizing: border-box;
}

html {

  font: 16px georgia, serif;
}

.table {
  background: #549a54;
  padding: 20px;
  border:solid 4px brown;
  width:100%;
  height: 400px;
  max-width: 800px;
  margin:0 auto;
  position: relative;

}


.control-box {
  position: absolute;
  top: 100%;
/*  left: -120px;*/
}

.difference {
  opacity: 0;
}

.difference.show-pos,
.difference.show-neg {
  opacity: 1;
  animation: fade 2000ms ease-out 2000ms forwards;
}

@keyframes fade {
  to { opacity: 0 }
}

.show-pos {
  color: green;
}
.show-neg {
  color: red;
}
.show-pos::before {
  content:"+";
}



/*
.ctrl {
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
  width:100px;
  height: 36px;
  display: block;
  text-align: center;
  margin: 3px;
  background: #dedede;
}
*/

.intro-form {
  background-color: grey;
  padding: 10px;
}

.intro-form.inactive {
  opacity:0;
}

.title.active {
  color: white;
}

.player-frame {
  position: absolute;
  top:220px;
}

.player-0.player-frame {top: 10px}
/*.player-1.player-frame {left: 0%}*/
.player-2.player-frame {left: 20%}
.player-3.player-frame {left: 40%}
.player-4.player-frame {left: 60%}
.player-5.player-frame {left: 80%}

.card {
  display: inline-block;
  width: 50px;
  height: 70px;
  background: white;
  margin-right: -30px;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  font-weight: bold;
  transition: transform 150ms ease;
}

.card.hearts, .card.diamonds {
  color:red;
}
.card.hearts, .card.diamonds, .card.clubs, .card.spades {
  z-index: 5;

}

.card.blank {
  background: url(card-back.svg) center/cover , #c97272;
}

.card.draw {
  transition-duration: 400ms;
}

.card:not(.blank)::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom:-5px;
  height: 50px;
  width: 50px;
  background: url(card.min.svg) 0/200%;
}

.card.hearts::after {
  background-position: top left;
}
.card.diamonds::after {
  background-position: bottom left;
}
.card.clubs::after {
  background-position: top right;
}
.card.spades::after {
  background-position: bottom right;
}
