*,*:before,*:after {
  box-sizing: border-box;
}

html {

  font: 1vw georgia, serif;
}

.table {
  background: green;
  padding: 20px;
  border:solid 4px brown;
  width:100%;
  height: 400px;
  max-width: 800px;
  margin:0 auto;
  position: relative;

}


.control-box {
  position: absolute;
  top: 100px;
  left: -120px;
}
.ctrl {
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
  width:100px;
  height: 36px;
  display: block;
  text-align: center;
  margin: 3px;
  background: #dedede;
}

.score {
  color:white;
  position: absolute;
  top:320px;
}

.player-0.score {left: calc(50% - 40px); top: 100px}
.player-1.score {left: calc(0% + 10px)}
.player-2.score {left: calc(20% + 10px)}
.player-3.score {left: calc(40% + 10px)}
.player-4.score {left: calc(60% + 10px)}
.player-5.score {left: calc(80% + 10px)}

.card {
  display: inline-block;
  width: 50px;
  height: 70px;
  background: white;
  margin-right: 5px;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  position: absolute;
  font-weight: bold;

  -webkit-transition: top 400ms ease-out, left 400ms ease-out, transform 150ms ease;
  transition: top 400ms ease-out, left 400ms ease-out, transform 150ms ease;
}

.card.hearts, .card.diamonds {
  color:red;
}
.card.hearts, .card.diamonds, .card.clubs, .card.spades {
  z-index: 5;
}

.card.blank {
  background: url(card-back.svg) center/cover , #c97272;

}

.card div {
  position: absolute;
  right: -10px;
  bottom:-5px;
  height: 50px;
  width: 50px;
  background: url(card.min.svg) 0/200%;

}
.card.hearts div {
  background-position: top left;
}
.card.diamonds div {
  background-position: bottom left;
}
.card.clubs div {
  background-position: top right;
}
.card.spades div {
  background-position: bottom right;
}
